<div class="container">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
        <div class="jumbotron">
            <h2 style="justify-content: center">Reimbursement Login</h2>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="usernameInput"
                placeholder="Username"
                [(ngModel)]="this.username"
              />
              <input
                type="password"
                class="form-control"
                id="passwordInput"
                placeholder="Password"
                [(ngModel)]="this.password"
              />
              <br />
              <button class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
    <div class="col"></div>
  </div>
</div>
